header {
  background-position: center 85%;
  background-repeat: no-repeat;
  display: flex;
  row-gap: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title-main {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.2em;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.2em;

  .socials {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

// Tablet (vertical)
@media only screen and (max-width: 1024px) {
  header {
    background-size: cover;
  }
}