.section-skills {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 100vw;
  display: flex;
  gap: 40px;
  padding: 10em 0 3em 0;
  flex-direction: column;
  align-items: center;
  background-color: black;

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .title {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 3em;
    }

    .filters {
      display: flex;
      flex-direction: row;
      gap: 15px;
    }
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 20px;
  }
}

// Phone
@media only screen and (max-width: 768px) {
  .section-skills {
    background-size: auto;
    padding: 7em 0 0 0;
    background-color: #daf2f5;

    .top {
      .filters {
        flex-direction: column;
        align-items: center;
        gap: 30px;
      }
    }

    .skills {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 1em;
    }
  }
}

// Tablet (vertical)
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section-skills {
    background-size: auto;
    padding: 7em 0 0 0;
    background-color: #daf2f5;

    .skills {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}