@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@500;600;700&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: black;
}

#root {
	font-family: "Inter", sans-serif;
	animation: fade-in 2s 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

a {
	text-decoration: none;
	color: black;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
