@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@500;600;700&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

#root {
	font-family: "Inter", sans-serif;
	background-color: black;
}

#fade {
	height: 100%;
	width: 100%;
	position: absolute;
	inset: 0;
	z-index: 999;
	background-color: black;
	animation: fade-out 2s 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

a {
	text-decoration: none;
	color: black;
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		position: unset;
	}
}
